{{#paper-list}}
  <div class="list">
    <p class="titreList">{{#paper-subheader}}Carte / Lieux{{/paper-subheader}}</p>
    {{#each model as |item|}}
      <div class="listCadre">
        {{#paper-item class="md-3-line" onClick=(action "transitionToLieu" item)}}
          <img src={{item.imgurl}} alt={{item.title}} class="md-avatar">
          <div class="linkText">
            {{#link-to "lieu.show" item class=item.id}}
              <div class="md-list-item-text">
                <h3>{{item.title}}</h3>
                <p>{{item.id}}</p>
                <p>{{item.hotstop}}</p>
                <p>{{item.publish}}</p>
              </div>
            {{/link-to}}
          </div>
        {{/paper-item}}
      </div>
    {{/each}}
  </div>
{{/paper-list}}
