<div class="modelCarte layout-row layout-align-center">
  <div class="fondCarte">
    {{#paper-card as |card|}}
      <img class="card-media" src={{this.model.imgurl}} alt="img for lieu">
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}{{lieu.title}}{{/text.headline}}
        {{/title.text}}
      {{/card.title}}
      <div class="bg-white">
        {{#card.content}}
          <div class="modelTitle">
              <h3>{{this.model.title}}</h3>    
          </div>
          <p>id : {{this.model.id}}</p>
          <p>Histoire :</p>
          <p class="modelDescription">{{this.model.histoire}}</p>
          <p>Climat :</p>
          <p class="modelDescription">{{this.model.climat}}</p>
          <p>Emplacement :</p>
          <p class="modelDescription">{{this.model.howto}}</p>
          <p>{{this.model.hotstop}}</p>
        {{/card.content}}
      </div>
      {{#card.actions}}
        {{#link-to "lieu.index"}}
          <div class="btn-retour">
            {{#paper-button}}
              <p>Retour</p>
            {{/paper-button}}
          </div>
        {{/link-to}}
      {{/card.actions}}
    {{/paper-card}}
  </div>
</div>
