{{#paper-card as |card|}}
  <div class="card">
    {{#card.title as |title|}}
      {{#title.text as |text|}}
        <div class="modelTitleTeam">
          {{#text.headline}}
            <h3>{{this.model.name}}</h3>
          {{/text.headline}}
        </div>
        <div class="modelDescription bg-white">
          {{#text.subhead}}
            <p>id : {{this.model.id}}</p>
            <p>Age : {{this.model.age}}</p>
            <p>Métier : {{this.model.job}}</p>
            <p>Ecole : {{this.model.ecole}}</p>
            <p>Diplome : {{this.model.diplome}}</p>
            <p>{{this.model.description}}</p>
            <p>{{this.model.from}}</p>
            <p>PV : {{this.model.pv}}{{paper-slider value=this.model.pv min="0" max="9999" disabled=true  onChange=(action (mut this.model.pv))}}</p>
            <p>PM : {{this.model.pm}}{{paper-slider value=this.model.pm min="0" max="9999" disabled=isSliderDisabled onChange=(action (mut this.model.pm))}}</p>
            <p>SM : {{this.model.sm}}{{paper-slider value=this.model.sm min="0" max="9999" disabled=isSliderDisabled onChange=(action (mut this.model.sm))}}</p>
          {{/text.subhead}}
        </div>
      {{/title.text}}
      <div class="modelAvatar">
        {{#title.media size="md"}}
          <img class="card-media" src={{this.model.imgurl}} alt="img for joueur">
        {{/title.media}}
      </div>
    {{/card.title}}
    {{#card.actions}}
      {{#link-to "joueur.index"}}
        <div class="btn-retour">
          {{#paper-button}}
            <p>Retour</p>
          {{/paper-button}}
        </div>
      {{/link-to}}
    {{/card.actions}}
  </div>
{{/paper-card}}
