{{#paper-card as |card|}}
  <div class="card">
    {{#card.title as |title|}}
      {{#title.text as |text|}}
        <div class="modelTitleTeam bg-white">
          {{#text.headline}}
            <h3>{{this.model.name}}</h3>
          {{/text.headline}}
        </div>
        <div class="modelDescription bg-white">
          {{#text.subhead}}
            <p>Age : {{this.model.age}}</p>
            <p>Métier : {{this.model.job}}</p>
            <p>Ecole : {{this.model.ecole}}</p>
            <p>Diplome : {{this.model.diplome}}</p>
            <p>Pays : {{this.model.from}}</p>
            <p>{{this.model.description}}</p>
            <p><span class="bold">Point de Vie :</span>
              <div class="layout-row">{{paper-slider value=this.model.pv min="0" max="12000" disabled=true  onChange=(action (mut this.model.pv))}}{{paper-input type="number" value=this.model.pv onChange=(action (mut this.model.pv))}}</div>
            </p>
            <p><span class="bold">PM :</span>
              <div class="layout-row">{{paper-slider value=this.model.pm min="0" max="12000" disabled=true  onChange=(action (mut this.model.pm))}}{{paper-input type="number" value=this.model.pm onChange=(action (mut this.model.pm))}}</div>
            </p>
            <p><span class="bold">Santé Mentale :</span>
              <div class="layout-row">{{paper-slider value=this.model.sm min="0" max="12000" disabled=false  onChange=(action (mut this.model.sm))}}{{paper-input type="number" value=this.model.sm onChange=(action (mut this.model.sm))}}</div>
            </p>
          {{/text.subhead}}
        </div>
      {{/title.text}}
      <div class="modelAvatar">
        {{#title.media size="md"}}
          <img class="card-media" src={{this.model.imgurl}} alt="img for joueur">
        {{/title.media}}
      </div>
    {{/card.title}}
    {{#card.actions}}
      {{#link-to "joueur.index"}}
        <div class="btn-retour">
          {{#paper-button}}
            <p>Retour</p>
          {{/paper-button}}
        </div>
      {{/link-to}}
    {{/card.actions}}
  </div>
{{/paper-card}}
