{{#paper-card as |card|}}
  <div class="card">
    {{#card.title as |title|}}
      {{#title.text as |text|}}
        <div class="modelTitleTeam bg-white">
          {{#text.headline}}
            <h3>{{this.model.name}}</h3>
          {{/text.headline}}
        </div>
        <div class="modelDescription bg-white">
          {{#text.subhead}}
            <div class="layout-row info-personnage little-margin">
              <div class="layout-column">
                <p><span class="spanDeco">Age</span> : {{this.model.age}}</p>
                <p><span class="spanDeco">Métier</span> : {{this.model.job}}</p>
                <p><span class="spanDeco">Ecole</span> : {{this.model.ecole}}</p>
              </div>
              <div class="layout-column">
                <p><span class="spanDeco">Diplome</span> : {{this.model.diplome}}</p>
                <p><span class="spanDeco">Pays</span> : {{this.model.from}}</p>
                <p>{{this.model.description}}</p>
              </div>
            </div>
            <p><span class="bold">Point de Vie :</span>
              <div class="layout-row">{{paper-slider value=this.model.pv min="0" max="12000" disabled=true  onChange=(action (mut this.model.pv))}}{{paper-input type="number" value=this.model.pv onChange=(action (mut this.model.pv))}}</div>
            </p>
            <p><span class="bold">Point de Mana :</span>
              <div class="layout-row Mana">{{paper-slider value=this.model.pm min="0" max="12000" disabled=true  onChange=(action (mut this.model.pm))}}{{paper-input type="number" value=this.model.pm onChange=(action (mut this.model.pm))}}</div>
            </p>
            <p><span class="bold">Santé Mentale :</span>
              <div class="layout-row SantéMental">{{paper-slider value=this.model.sm min="0" max="12000" disabled=false  onChange=(action (mut this.model.sm))}}{{paper-input type="number" value=this.model.sm onChange=(action (mut this.model.sm))}}</div>
            </p>
            <div class="stats layout-row layout-xs-column">
              <div>
                <p><span class="bold layout-row">Force : {{this.model.stats.for}}</span>
                  <div class="layout-row">
                    {{paper-slider value=this.model.stats.for min="0" max="200" disabled=true  onChange=(action (mut this.model.stats.for))}}
                  </div>
                </p>
                <p><span class="bold">Dextérité : {{this.model.stats.dex}}</span>
                  <div class="layout-row">
                    {{paper-slider value=this.model.stats.dex min="0" max="200" disabled=true  onChange=(action (mut this.model.stats.dex))}}
                  </div>
                </p>
                <p><span class="bold">Intélligence : {{this.model.stats.int}}</span>
                  <div class="layout-row">
                    {{paper-slider value=this.model.stats.int min="0" max="200" disabled=true  onChange=(action (mut this.model.stats.int))}}
                  </div>
                </p>
              </div>
              <div>
                <p><span class="bold">Consistence : {{this.model.stats.con}}</span>
                  <div class="layout-row">
                    {{paper-slider value=this.model.stats.con min="0" max="200" disabled=true  onChange=(action (mut this.model.stats.con))}}
                  </div>
                </p>
                <p><span class="bold">Apparence :{{this.model.stats.app}}</span>
                  <div class="layout-row">
                    {{paper-slider value=this.model.stats.app min="0" max="200" disabled=true  onChange=(action (mut this.model.stats.app))}}
                  </div>
                </p>
                <p><span class="bold">Pouvoir : {{this.model.stats.pou}}</span>
                  <div class="layout-row">
                    {{paper-slider value=this.model.stats.pou min="0" max="200" disabled=true  onChange=(action (mut this.model.stats.pou))}}
                  </div>
                </p>
              </div>
              <div>
                <p><span class="bold">Taille : {{this.model.stats.tai}}</span>
                  <div class="layout-row">
                    {{paper-slider value=this.model.stats.tai min="0" max="200" disabled=true  onChange=(action (mut this.model.stats.tai))}}
                  </div>
                </p>
                <p><span class="bold">Santé : {{this.model.stats.san}}</span>
                  <div class="layout-row">
                    {{paper-slider value=this.model.stats.san min="0" max="200" disabled=true  onChange=(action (mut this.model.stats.san))}}
                  </div>
                </p>
                <p><span class="bold">Education : {{this.model.stats.edu}}</span>
                  <div class="layout-row">
                    {{paper-slider value=this.model.stats.edu min="0" max="200" disabled=true  onChange=(action (mut this.model.stats.edu))}}
                  </div>
                </p>
              </div>
              <div>
                <p><span class="bold">Idée : {{this.model.stats.idee}}</span>
                  <div class="layout-row">
                    {{paper-slider value=this.model.stats.idee min="0" max="200" disabled=true  onChange=(action (mut this.model.stats.idee))}}
                  </div>
                </p>
                <p><span class="bold">Connaisance : {{this.model.stats.conn}}</span>
                  <div class="layout-row">
                    {{paper-slider value=this.model.stats.conn min="0" max="200" disabled=true  onChange=(action (mut this.model.stats.conn))}}
                  </div>
                </p>
              </div>
            </div>
          {{/text.subhead}}
        </div>
      {{/title.text}}
      <div class="modelAvatar">
        {{#title.media size="md"}}
          <img class="card-media" src={{this.model.imgurl}} alt="img for joueur">
        {{/title.media}}
      </div>
    {{/card.title}}
    {{#card.actions}}
      {{#link-to "joueur.index"}}
        <div class="btn-retour">
          {{#paper-button}}
            <p>Retour</p>
          {{/paper-button}}
        </div>
      {{/link-to}}
    {{/card.actions}}
  </div>
{{/paper-card}}
