{{#paper-card as |card|}}
  <div class="card">
    {{#card.title as |title|}}
      {{#title.text as |text|}}
        <div class="modelTitle">
          {{#text.headline}}
            <h3>{{this.model.title}}</h3>
          {{/text.headline}}
        </div>
        <div class="modelDescription">
          {{#text.subhead}}
            <p>Age : {{this.model.age}}</p>
            <p>Job : {{this.model.job}}</p>
            <p>Description : {{this.model.description}}</p>
            <p>{{this.model.stats}}</p>
            <p>{{this.model.updatedAt}}</p>
          {{/text.subhead}}
        </div>
      {{/title.text}}
      <div class="modelAvatar">
        {{#title.media size="md"}}
          <img class="card-media" src={{this.model.imgurl}} alt="img for personnage">
        {{/title.media}}
      </div>
    {{/card.title}}
    {{#card.actions}}
      {{#link-to "personnage.index"}}
        <div class="btn-retour">
          {{#paper-button}}
            <p>Retour</p>
          {{/paper-button}}
        </div>
      {{/link-to}}
    {{/card.actions}}
  </div>
{{/paper-card}}
