<ul>
    {{#each model as |personnage|}}
      <img src={{personnage.imgurl}}/>
      <li>{{personnage.title}}</li>
      <li>{{personnage.id}}</li>
      <li>{{personnage.description}}</li>
      <li>Age: {{personnage.age}}</li>
      <li>Job: {{personnage.job}}</li>
      <li>Creation: {{personnage.createdAt}}</li>
      <li>Update: {{personnage.updatedAt}}</li>
      {{personnage.stats.app}}
      {{personnage.stats.dex}}
    {{/each}}
</ul>
{{outlet}}
