<!--
<nav>
  <ul>
    <li>{{#link-to "personnage"}}Personnage{{/link-to}}</li>
    <li>{{#link-to "lieu"}}Lieu{{/link-to}}</li>
  </ul>
</nav>
-->


<!--johanna

{{#paper-content class="menuNav" open=rightSideBarOpen lockedOpen=true}}
  <aside class="flexmoiça  md-toolbar-tools">
    <li>{{#link-to "personnage"}} {{#paper-button }}{{paper-icon 'home'}}Personnage{{/paper-button}}{{/link-to}}</li>
    <li>{{#link-to "lieu"}} {{#paper-button }}{{paper-icon 'home'}}Lieu{{/paper-button}}{{/link-to}}</li>
  </aside>
{{/paper-content}}

-->


<aside class="menuNav">
  <ul class="flexmoiça">

    <li>{{#link-to "personnage"}} {{#paper-button }}{{paper-icon 'home'}}Personnage{{/paper-button}}{{/link-to}}</li>
    <li>{{#link-to "lieu"}} {{#paper-button }}{{paper-icon 'home'}}Lieu{{/paper-button}}{{/link-to}}</li>
    <li>{{#link-to "lieu"}} {{#paper-button }}{{paper-icon 'home'}}Lieu{{/paper-button}}{{/link-to}}</li>
    <li>{{#link-to "lieu"}} {{#paper-button }}{{paper-icon 'home'}}Lieu{{/paper-button}}{{/link-to}}</li>
    <li>{{#link-to "lieu"}} {{#paper-button }}{{paper-icon 'home'}}Lieu{{/paper-button}}{{/link-to}}</li>

  </ul>
</aside>


<!--Fin johanna -->

{{outlet}}
